// COLORS

// Background colors
$main-color: rgb(40,44,52);
$second-color: rgba(240, 248, 255, 0.041);
$hover-color:  rgba(240, 248, 255, 0.060);
$hover-color-bgc:  rgba(240, 248, 255, 0.075);

// Text colors
$text-main-color: rgb(255,255,255);
$text-second-color: rgb(33,150,243);

// Input colors
$input-background: rgba(57, 63, 84, 0.8);
$input-text-inactive: rgb(120,129,161);
$input-text-active: rgb(191,210,255);

// Button colors
$button-color: rgba(83, 88, 94, 0.041);

// Border colors 
$border-bottom:rgba(104, 104, 104, 0.24);
$border-right: rgba(104, 104, 104, 0.089);

// FONT SIZES
$main-font-size:  16px;

// MARGIN / PADDING PX
$main-value-space: 20px;

//HEIGHT OF BUTTON
$universal-size: 25px;