.App_creatorTask {
   @extend %structureOfBoxes;
   height: 350px;

   &:hover {
      background-color: $hover-color;
   }

   @media all and (max-width: 800px) {
      margin: 0 auto;
      width: 80%;
      height: auto;
   }



   &--title {
      margin: $main-value-space;
   }

   &--containerForm {
      @media all and (max-width: 400px) {
         display: none;
      }
   }

   &--plus {
      display: none;
      font-size: 4em;
      color: #ffffff;
      text-shadow: 2px 2px 0px #3333335b, 5px 4px 0px rgba(0, 0, 0, 0.247);

      cursor: pointer;
      transition: text-shadow .1s;

      &:hover {
         text-shadow: 1px 1px 0px #3333335b, 3px 2px 0px rgba(0, 0, 0, 0.4);
      }

      @media all and (max-width: 400px) {
         display: block;
      }

   }

   &--input {
      width: 80%;
      margin: $main-value-space/2 auto;
      padding: $main-value-space/2 $main-value-space;

      border: none;
      border-bottom: 1px solid $text-second-color;
      border-radius: 2px;

      background: $main-color;
      color: $text-main-color;
   }

   &--paragraph {
      width: 60%;
      margin: 0 auto;
      padding: $main-value-space/2 $main-value-space;

      &--input {
         margin: $main-value-space*0.75;
         padding: $main-value-space;

         border: none;
         border-bottom: 1px solid $text-second-color;
         border-radius: 2px;

         background: $main-color;
         color: $text-main-color;
      }
   }

   &--button {
      @extend %baseOfButton;

      width: 20%;
      margin: 0 auto;
      padding: $main-value-space/2;

      @media all and (max-width: 420px) {
         width: 50%;
         margin: auto;
      }
   }
}