.App_panelInfo {
   @extend %structureOfBoxes;

   @media all and (max-width: 800px) {
      margin: $main-value-space auto;
      width: 90%;
      min-height: 200px;
   }

   &:hover {
      background-color: $hover-color;
   }

   &--info {
      font-size: 0.6em;
   }

   &--task {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      padding: $main-value-space;
      border-radius: 3px;

      @media all and (max-width: 400px) {
         padding: $main-value-space/2 0;
      }

      &--container {
         display: flex;
         justify-content: space-between;
         width: 100%;
      }

      &--text {
         transition: .2s;
         cursor: pointer;

         &:hover {
            color: $text-second-color;
         }
      }

      &--description {
         margin-top: $main-value-space/4;
         text-align: left;
         font-size: 0.7em;
      }

      &--button {
         @extend %baseOfButton;
         margin: $main-value-space/3;
         min-width: $universal-size;
         height: $universal-size;
      }

      &--createDate {
         @extend %styleTexts;
         width: 100%;
      }

      &--date {
         @extend %styleTexts;
         color: $text-main-color;

         &--finish {
            @extend %styleTexts;
            width: 100%;
            color: $text-second-color;
         }
      }

      @media all and (min-width: 400px) {
         &:hover {
            background-color: $hover-color-bgc;
         }
      }


   }

}