// Import the main font 

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
// Basic reset
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

@import 'abstracts/variables';
@import 'abstracts/extends';
@import 'layouts/App';
@import 'layouts/Form';
@import 'layouts/PanelInfo';